<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600189297260-vr9ha7le3sv7v4apqlc1lsht9km4ergh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600189297260-vr9ha7le3sv7v4apqlc1lsht9km4ergh</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Yd84eOXaOFtB1W66Re1aLDcUBaXhDYE</string>
	<key>GCM_SENDER_ID</key>
	<string>600189297260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebrandd.branddot</string>
	<key>PROJECT_ID</key>
	<string>branddot-5d796</string>
	<key>STORAGE_BUCKET</key>
	<string>branddot-5d796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600189297260:ios:f70e8e8f21f39a0c0aae49</string>
</dict>
</plist>